<nav id="mainNavbar"
    class="navbar sticky-top d-flex flex-wrap align-items-center justify-content-center justify-content-md-around py-3 mb-4">
    <a href="/" class="navbar-brand d-flex align-items-md-center mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="/imgs/MyLogo.png" alt="My logo" class="bi me-2" width="70" height="70" role="img">
    </a>
    <div class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 ml-lg-5">
        <a href="/aboutme" class="nav-link px-2 mygold">ABOUT ME</a>
        <a href="/reviews" class="nav-link px-2 mygold">REVIEWS</a>
        <a href="/contact" class="nav-link px-2 mygold">CONTACT</a>
        <a class="nav-link px-2 mygold" href="/files/Zahra A Al Kubaish - CV.pdf">RESUME</a>
    </div>
</nav>