<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="row">
            <!-- phone -->
            <div class="col-lg-6 col-md-6 col-sm-12 mb-5">
                <div class="card text-center p-5 mr-5 h-100">
                    <div>
                        <i class="fa-solid fa-phone fa-2xl mygold p-5"></i>
                        <i class="fa-brands fa-whatsapp fa-2xl mygold p-5"></i>
                    </div>

                    <h1 class="fs-1 fw-bold mynavy"> Let's Talk! </h1>
                    <h3 class="fw-light">
                        +966(559)760-734
                    </h3>
                </div>
            </div>
            <!-- Email -->
            <div class="col-lg-6 col-md-6 col-sm-12 mb-5">
                <div class="card text-center p-5 h-100">
                    <div>
                        <i class="fa-solid fa-envelope fa-2xl mygold p-5"></i>
                    </div>

                    <h1 class="fs-1 fw-bold mynavy"> Email Me! </h1>
                    <h3 class="fw-light">
                        <span class="text-decoration-none user-select-all"
                            style="color: black;">Zalkubaish@gmail.com</span>
                    </h3>
                </div>
            </div>
            <!-- address -->
            <div class="col-lg-6 col-md-6 col-sm-12 mb-5">
                <div class="card text-center mr-5 p-5 h-100">
                    <div>
                        <i class="fa-solid fa-location-dot fa-2xl mygold p-5"></i>
                    </div>

                    <h1 class="fs-1 fw-bold mynavy"> Address </h1>
                    <h3 class="fw-light">
                        Eastern Province, Saudi Arabia
                    </h3>
                </div>
            </div>
            <!-- hours -->
            <div class="col-lg-6 col-md-6 col-sm-12 mb-5">
                <div class="card text-center p-5 h-100">
                    <div>
                        <i class="fa-solid fa-clock fa-2xl mygold p-5"></i>
                    </div>

                    <h1 class="fs-1 fw-bold mynavy"> Open Hours </h1>
                    <h3 class="fw-light">
                        Sunday - Thursday | 9:00AM - 05:00PM
                    </h3>
                </div>
            </div>
        </div>
        <div class="row mb-5 mb-md-0 ">

        </div>
    </div>