body {
    height: 100vh;
    background: rgb(45, 61, 81);
    background: linear-gradient(144deg, rgba(45, 61, 81, 1) 66%, rgba(179, 148, 98, 1) 100%);
    font-family: "Nunito", sans-serif;
}

body h1 {
    font-size: calc(1rem + 1.5vw);
}

.mynavy {
    color: #2D3D51;
}

.mygold {
    color: #B39462;
    text-decoration: none;
}

.mylightGray {
    color: #EDEAED;
}

.nav-link {
    color: #B39462;
    text-decoration: none;
    /* border-bottom: 0.25rem solid transparent; */
}

.nav-link:hover {
    color: #B39462;
    border-bottom: #B39462 solid;
}

.nav-link:active {
    color: #EDEAED;
}

#mainNavbar {
    font-size: 1rem;
    font-weight: 100;
}

a:hover {
    color: #B39462;
}

#hireMe {
    background-color: #B39462;
    color: #EDEAED;
    border-radius: 4rem;
}

#hireMe:hover {
    background-color: #EDEAED;
    color: #B39462;
}


@media (max-width:1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 2rem;
    }
}

@media (max-width:600px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 1rem;
    }
}